extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug


block main 
    .container.py-4
        +alert-error(3000)
        .card.shadow-sm
            .card-header.bg-white
                h1.h3.mb-0 Add new item
    
        .card-body
            form(
                action=`${prefixAdmin}/products/create`
                id="form-create-product"
                method="POST"
                enctype="multipart/form-data"
            )
                //- Product Title
                .form-group
                    label.font-weight-bold(for="title") Product Title
                    input.form-control(
                        type="text"
                        id="title"
                        name="title"
                        placeholder="Enter product title"
                        required
                    )

                //- Category Selection
                .form-group
                    label.font-weight-bold(for="products_category_id") Category
                    select.form-control(
                        id="products_category_id"
                        name="products_category_id"
                    )
                        option(value="") --- Choose a category ---
                        if(category)
                            +select-tree(category)
                .form-group
                    label.font-weight-bold.d-block Prevalent
                    .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(
                            type="radio"
                            id="feature1"
                            name="featured"
                            value="1"
  
                        )
                        label.custom-control-label(for="feature1") Yes
                    .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(
                            type="radio"
                            id="feature0"
                            name="feature"
                            value="0"
                            checked

                        )
                        label.custom-control-label(for="feature0") No
                //- Description
                .form-group
                    label.font-weight-bold(for="desc") Description
                    textarea.form-control.textarea-mce(
                        id="desc"
                        name="description"
                        rows="5"
                        placeholder="Enter product description"
                    )
    
                //- Price, Discount, Stock in Grid
                .row
                    .col-md-4
                        .form-group
                            label.font-weight-bold(for="price") Price
                            .input-group
                                .input-group-prepend
                                    span.input-group-text $
                                input.form-control(
                                    type="number"
                                    id="price"
                                    name="price"
                                    value="0"
                                    min="0"
                                )
                    .col-md-4
                        .form-group
                            label.font-weight-bold(for="discount") Discount
                            .input-group
                                input.form-control(
                                    type="number"
                                    id="discount"
                                    name="discountPercentage"
                                    value="0"
                                    min="0"
                                    max="100"
                                )
                                .input-group-append
                                    span.input-group-text %
                    .col-md-4
                        .form-group
                            label.font-weight-bold(for="stock") Stock
                            input.form-control(
                                type="number"
                                id="stock"
                                name="stock"
                                value="0"
                                min="0"
                            )
                //- Image Upload
                div(
                    style-form
                    class="form-group"
                    upload-image
                )
                    label.font-weight-bold(for="thumbnail") Product Image
                    input(
                        type="file"
                        id="thumbnail"
                        name="thumbnail"
                        class="form-control-file"
                        accept="image/*"
                        upload-image-input
                    )
                    button.btn.btn-danger.btn-sm.position-absolute(
                        type="button" 
                        class="btn btn-secondary delete-image"
                        delete-image-preview
                    ) 
                        i.fas.fa-times
                        

                    img(
                        src="",
                        upload-image-preview
                        class="image-preview"
                    )
                //- Position
                .form-group
                    label.font-weight-bold(for="position") Position
                    input.form-control(
                        type="number"
                        id="position"
                        name="position"
                        placeholder="Automatically increment position"
                        min="1"
                    )
                //- Status
                .form-group
                    label.font-weight-bold.d-block Status
                    .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(
                            type="radio"
                            id="statusActive"
                            name="status"
                            value="active"
                            checked
                        )
                        label.custom-control-label(for="statusActive") Active
                    .custom-control.custom-radio.custom-control-inline
                        input.custom-control-input(
                            type="radio"
                            id="statusInActive"
                            name="status"
                            value="inactive"
                        )
                        label.custom-control-label(for="statusInActive") Inactive
                //- Submit Button
                .form-group.mb-0
                    button.btn.btn-primary.btn-lg.btn-block(type="submit")
                        i.fas.fa-plus.mr-2
                        | Create Product
            

    script(src="/admin/js/product.js") 
    
