extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMultiStatus.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug




block main
   
        +alert(5000)
                
        //- Page Header  
        .row.align-items-center.mb-4  
            .col-md-6  
                h1.h3.text-primary Products Management  
            .col-md-6.text-right  
                a(href=`${prefixAdmin}/products/create`).btn.btn-success  
                    i.fas.fa-plus.mr-2  
                    | New Product 


        //- Filters and Search  
        .row.mb-4  
            .col-md-12  
                .card.shadow-sm  
                    .card-header.bg-light.d-flex.justify-content-between.align-items-center  
                        h5.card-title.m-0 Filters and search 
                        button.btn.btn-sm.btn-outline-secondary(type="button" data-toggle="collapse" data-target="#filterSection")  
                            i.fas.fa-filter.mr-2  
                            | Toggle Filters  
                    .card-body.collapse.show#filterSection  
                        .row  
                            .col-md-4  
                                .form-group  
                                    label Filter by Status  
                                    +filter-status(filterStatus)  
                            .col-md-4  
                                .form-group  
                                    label Search Products  
                                    +search(keyword)  
                            .col-md-4  
                                .form-group  
                                    label Sort Options  
                                    +sort()
                        

        //- Product List  
        .card.shadow-sm.mb-4  
            .card-header.bg-light.d-flex.justify-content-between.align-items-center  
                h5.card-title.m-0 Product List  
                .d-flex.align-items-center  
                    +formChangeMultiStatus(`${prefixAdmin}/products/change-multi?_method=PATCH`)  
                    
            .card-body.p-0  
                .table-responsive  
                    table.table.table-striped.table-hover.mb-0(checkbox-multi)  
                        thead.thead-light  
                            tr  
                                th.text-center   
                                    input(type="checkbox" name="checkall")  
                                th.text-center #  
                                th.text-center Image  
                                th Product Title  
                                th Price  
                                th Position  
                                th Status  
                                th Created By  
                                th Last Updated  
                                th.text-right Actions  

                        tbody   
                            each item, index in products  
                                tr  
                                    td.text-center   
                                        input(  
                                            type="checkbox"  
                                            name="id"  
                                            value=item.id  
                                        )  
                                    td.text-center #{pagination.limitItems*(pagination.currentPage-1)+(index+1)}  
                                    td.text-center  
                                        img.rounded(  
                                            src=item.thumbnail  
                                            alt=item.title  
                                            width="60"  
                                            height="60"  
                                            style="object-fit: cover;"  
                                        )  
                                    td.align-middle #{item.title}  
                                    td.align-middle.text-primary.font-weight-bold #{item.price}$  
                                    td.align-middle  
                                        input.form-control.form-control-sm.text-center.position-input(  
                                            type="number"  
                                            value=item.position   
                                            style="width: 70px"  
                                            min="1"  
                                            name="position"  
                                        )  
                                    td.align-middle  
                                        if(item.status=="active")
                                           a(
                                                href="javascript:;" 
                                                data-status=item.status
                                                data-id=item.id
                                                button-change-status
                                                class="badge badge-success"
                                            ) 
                                                i.fas.fa-check-circle.mr-1
                                                | Available
                                        else
                                            a(
                                                href="javascript:;" 
                                                data-status=item.status
                                                data-id=item.id
                                                button-change-status
                                                class="badge badge-danger"
                                            ) 
                                                i.fas.fa-times-circle.mr-1
                                                | Unavailable 
                                    td.align-middle  
                                        small  
                                            p.mb-1 #{item.accountFullName}  
                                            p.text-muted  
                                                +formatDateTime(item.createdBy.createdAt)  
                                    td.align-middle  
                                        - const updatedBy = item.updatedBy[item.updatedBy.length-1];  
                                        if(updatedBy)  
                                            small  
                                                p.mb-1 #{updatedBy.accountFullName}  
                                                p.text-muted  
                                                    +formatDateTime(updatedBy.createdAt)  
                                    td.text-right.align-middle  
                                        .btn-group.btn-group-sm  
                                            a.btn.btn-info.btn-sm(  
                                                href=`${prefixAdmin}/products/detail/${item.id}`  
                                                title="View Details"  
                                            )  
                                                i.fas.fa-eye  
                                            a.btn.btn-warning.btn-sm(  
                                                href=`${prefixAdmin}/products/edit/${item.id}`  
                                                title="Edit Product"  
                                            )  
                                                i.fas.fa-edit  
                                            button.btn.btn-danger.btn-sm(  
                                                button-delete  
                                                data-id=item.id  
                                                title="Delete Product"  
                                            )  
                                                i.fas.fa-trash

        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`

        ) 

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products/delete`

        )

        script(src="/admin/js/product.js") 

                        