include ../mixins/sub-menu.pug

header.header  
    .container-fluid.px-lg-5  
        .row.align-items-center  
            .col-lg-3.col-md-6.col-sm-8.col-9  
                .inner-logo  
                    a.d-block(href="/")  
                        img.img-fluid.max-width-logo(src="/images/logo1.png", alt="logo")  

            .col-lg-9.col-md-6.col-sm-4.col-3  
                .inner-menu  
                    nav.navbar.navbar-expand-lg.navbar-light.p-0  
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation")  
                            span.navbar-toggler-icon  

                        #mainNavigation.collapse.navbar-collapse  
                            ul.navbar-nav.ml-auto  
                                li.nav-item.active  
                                    a.nav-link(href="/") Home Page  

                                li.nav-item.dropdown  
                                    - const pathProduct ="/products";  
                                    a.nav-link.dropdown-toggle(href=pathProduct data-toggle="dropdown") Product  
                                    
                                    .dropdown-menu.dropdown-menu-right  
                                        +sub-menu(layoutProductsCategory, pathProduct)

                                //- Services Dropdown  
                                li.nav-item.dropdown  
                                    a.nav-link.dropdown-toggle(href="/services", data-toggle="dropdown") Services  
                                    .dropdown-menu.dropdown-menu-right  
                                        a.dropdown-item(href="/services/consulting") Consulting  
                                        a.dropdown-item(href="/services/implementation") Implementation  
                                        a.dropdown-item(href="/services/support") Support  

                                //- About Us  
                                li.nav-item  
                                    a.nav-link(href="/about") About Us  

                                //- Contact  
                                li.nav-item  
                                    a.nav-link(href="/contact") Contact  

                                //- Search and User Actions  
                                li.nav-item.dropdown.search-dropdown  
                                    a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown")  
                                        i.fas.fa-search  
                                    .dropdown-menu.dropdown-menu-right.p-3  
                                        form(
                                            action="/search"  
                                            method="GET"  
                                            class="form-inline"  
                                            
                                        )  
                                            .input-group  
                                                input.form-control(type="search", placeholder="Search..." aria-label="Search"
                                                    name="keyword"
                                                    value=keyword
                                                )  
                                                .input-group-append  
                                                    button.btn.btn-primary(type="submit")  
                                                        i.fas.fa-search  

                                //- User Profile/Login  
                                li.nav-item.dropdown.user-dropdown  
                                    a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown")  
                                        i.fas.fa-user  
                                    .dropdown-menu.dropdown-menu-right  
                                        a.dropdown-item(href="/login") Login  
                                        a.dropdown-item(href="/logout") Logout  
                                        a.dropdown-item(href="/register") Register  
                                        a.dropdown-item(href="/cart") Cart (#{miniCart?miniCart.totalQuantity:0})
                                        hr.dropdown-divider  
                     
                                        a.dropdown-item(href="/profile") My Profile
                            //- ul 
                            //-     li 
                            //-         a(href="/products/slug-1") Product 1 
                            //-         ul
                            //-             li 
                            //-                 a(href="/products/slug-1-1") Product 1-1  
                            //-             li 
                            //-                 a(href="/products/slug-1-2") Product 1-2
                            //-                 ul 
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-1") 1-2-1
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-2")  1-2-2
                            //-     li 
                            //-         a(href="/products/slug-2") Product 2                  