extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    .container-fluid.py-4
        //- Alerts
        +alert-error(3000)
        +alert(3000)

        //- Header and Back Button
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.h3.mb-0 Edit Permission
            a(
                href=`${prefixAdmin}/roles`
                class="btn btn-outline-secondary"
            )
                i.fas.fa-arrow-left.mr-2
                | Back to List

        .card.shadow-sm
            .card-body
                form(
                    action=`${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
                    method="POST"
                )
                    .row
                        .col-md-8.mx-auto
                            //- Title Field
                            .form-group
                                label.font-weight-bold(for="title") 
                                    | Headline
                                    span.text-danger *
                                input(
                                    type="text"
                                    id="title"
                                    name="title"
                                    class="form-control"
                                    required
                                    value=data.title
                                    placeholder="Enter permission title"
                                )
                                small.form-text.text-muted This title will be used to identify the permission.

                            //- Description Field
                            .form-group
                                label.font-weight-bold(for="description") Description
                                input(
                                    type="text"
                                    id="description"
                                    name="description"
                                    class="form-control"
                                    value=data.description
                                    placeholder="Enter permission description"
                                )
                                small.form-text.text-muted Provide a brief description of what this permission allows.

                            //- Form Actions
                            .form-group.mt-4.mb-0
                                .d-flex.justify-content-between.align-items-center
                                    button(
                                        type="button"
                                        class="btn btn-light"
                                        onclick="history.back()"
                                    ) 
                                        i.fas.fa-times.mr-2
                                        | Cancel
                                    button(
                                        type="submit"
                                        class="btn btn-primary"
                                    )
                                        i.fas.fa-save.mr-2
                                        | Update Permission