extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(3000)
    +alert(3000)

    .d-flex.justify-content-between.align-items-center.mb-4
        h1.mb-0 Role Permissions
        if records
            .btn-group
                button.btn.btn-primary(
                    type="submit"
                    button-submit
                )
                    i.fas.fa-save.mr-2
                    | Save Changes
                button.btn.btn-secondary(
                    type="reset"
                    button-reset
                )
                    i.fas.fa-undo.mr-2
                    | Reset

    if records
        div(data-records=records)
        .card.shadow-sm.mb-4
            .table-responsive
                table.table.table-hover.mb-0(
                    table-permissions
                )
                    thead.thead-light
                        tr 
                            th.border-top-0(width="200") Feature 
                            each item in records
                                th.border-top-0.text-center #{item.title}
                    tbody 
                        tr.d-none(data-name="id")
                            td
                            each item in records
                                td.text-center 
                                    input(type="text" value=item.id)

                        each section in ['Category Product', 'Products', 'Role', 'Restore']
                            tr.table-secondary
                                td(colspan="4")
                                    strong.text-uppercase.small #{section}
                            
                            each action in ['view', 'create', 'edit', 'delete']
                                - const baseName = section.toLowerCase().replace(' ', '-')
                                - const fullName = `${baseName == 'role' ? 'roles' : baseName}s_${action}`
                                tr(data-name=fullName)
                                    td.pl-4
                                        i.fas.fa-fw.mr-2(class={
                                            'fa-eye': action === 'view',
                                            'fa-plus': action === 'create',
                                            'fa-edit': action === 'edit',
                                            'fa-trash': action === 'delete'
                                        })
                                        | #{action.charAt(0).toUpperCase() + action.slice(1)}
                                    each item in records
                                        td.text-center
                                            .custom-control.custom-checkbox
                                                input.custom-control-input(
                                                    type="checkbox"
                                                    id=`${fullName}-${item.id}`
                                                )
                                                label.custom-control-label(
                                                    for=`${fullName}-${item.id}`
                                                )

                            if section === 'Role'
                                tr(data-name="roles_permissions")
                                    td.pl-4
                                        i.fas.fa-key.fa-fw.mr-2
                                        | Permissions
                                    each item in records
                                        td.text-center
                                            .custom-control.custom-checkbox
                                                input.custom-control-input(
                                                    type="checkbox"
                                                    id=`roles_permissions-${item.id}`
                                                )
                                                label.custom-control-label(
                                                    for=`roles_permissions-${item.id}`
                                                )
    else 
        .alert.alert-info.d-flex.justify-content-between.align-items-center
            span There are no permissions configured yet
            a.btn.btn-success(
                href=`${prefixAdmin}/roles/create`
            )
                i.fas.fa-plus.mr-2
                | Create Permission

    form.d-none(
        method="POST"
        id="form-change-permissions"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
    ) 
        .form-group
            input.form-control(
                type="text"
                name="permissions"
            )

    script(src="/admin/js/roles.js")