extends ../../layouts/default.pug  
block main   
    .container-fluid  
        .row.mb-4  
            .col-12  
                h1(class="text-primary") List of Accounts   

        .card.shadow-sm  
            .card-header.bg-light.d-flex.justify-content-between.align-items-center  
                h5.card-title.m-0 Account Management  
                a(  
                    href=`${prefixAdmin}/accounts/create`  
                    class="btn btn-outline-success btn-sm"  
                )  
                    i.fas.fa-plus.mr-2  
                    | Add New Account  

            .card-body.p-0  
                .table-responsive  
                    table(class="table table-striped table-hover mb-0")  
                        thead.thead-light  
                            tr  
                                th.text-center #  
                                th.text-center Avatar  
                                th Full Name   
                                th Role  
                                th Email  
                                th.text-center Status  
                                th.text-right Actions  

                        tbody   
                            each item, index in records  
                                tr  
                                    td.text-center.align-middle #{index+1}  
                                    td.text-center.align-middle  
                                        //- img.rounded-circle(  
                                        //-     src=item.avatar || '/default-avatar.png'  
                                        //-     alt=item.fullName  
                                        //-     width="50"  
                                        //-     height="50"  
                                        //-     style="object-fit: cover;"  
                                        //- )  
                                    td.align-middle #{item.fullName}          
                                    td.align-middle #{item.role.title}  
                                    td.align-middle #{item.email}  
                                    td.text-center.align-middle  
                                        if(item.status === "active")  
                                            span.badge.badge-success.py-1(  
                                                data-status="active"  
                                                button-change-status  
                                            ) Active  
                                        else   
                                            span.badge.badge-danger.py-1(  
                                                data-status="inactive"  
                                                button-change-status  
                                            ) Inactive  
                                    td.text-right.align-middle  
                                        .btn-group(role="group")  
                                            a.btn.btn-info.btn-sm(  
                                                href=`${prefixAdmin}/accounts/detail/${item.id}`  
                                                title="View Details"  
                                            )  
                                                i.fas.fa-eye  

                                            a.btn.btn-warning.btn-sm(  
                                                href=`${prefixAdmin}/accounts/edit/${item.id}`  
                                                title="Edit Account"  
                                            )  
                                                i.fas.fa-edit  

                                            button.btn.btn-danger.btn-sm(  
                                                button-delete  
                                                data-id=item.id  
                                                title="Remove Account"  
                                            )  
                                                i.fas.fa-trash  

            .card-footer.d-flex.justify-content-between.align-items-center  
                .text-muted Total Accounts: #{records.length}  
                nav  
                    ul.pagination.mb-0  
                        //- Pagination logic can be added here