extends ../../layout/default.pug 


block main 
    
    .container.my-3 
        .row 
            .col-12 
                if(product.title)
                    h1(class="mb-4") #{product.title}

                if(product.category)
                    span Category 
                        a(href=`/products/${product.category.slug}`) #{product.category.title}
                if(product.newPrice)
                    div(class="mb-4") PriceNew: <b>#{product.newPrice}</b>$

                if(product.price)
                    div(class="mb-4") Price: <b>#{product.price}</b>$

                if(product.discountPercentage)
                    div(class="mb-4") Discount: <b>#{product.discountPercentage}%</b>

                if(product.stock)
                    div(class="mb-4") Inventory: <b>#{product.stock}</b>

                if(product.thumbnail)
                    div(class="mb-4")
                        img(
                        src=product.thumbnail
                        style="width: 100px"
                        )


                if(product.position)
                    div(class="mb-4") Position: <b>#{product.position}</b>

                if(product.description)
                    div(class="mb-4") Describe: !{product.description}

                form(
                    action=`/cart/add/${product.id}`
                    method="POST"
                ) 
                    input(
                        class="form-control mb-2"
                        type="number"
                        name="quantity"
                        min="1"
                        value="1"
                        max=product.stock
                    )

                    button(
                        type="submit"
                        class="btn btn-primary"
                    ) Add to Cart