extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main
    +alert(5000)

    .container.py-5
        .row.justify-content-center
            .col-lg-10
                .card.shadow-sm
                    .card-header.bg-primary.text-white
                        h4.mb-0 Create New Article
                    .card-body
                        form(
                            action=`${prefixAdmin}/articles/create` 
                            method="POST" enctype="multipart/form-data"
                        )
                            .form-group
                                label(for="title") Title
                                input.form-control(type="text" name="title" id="title" required)
                                small.form-text.text-muted This will automatically generate the URL slug
                            
                            //- .form-group
                            //-     label(for="category") Category
                            //-     select.form-control(name="category" id="category" )
                            //-     option(value="") Select Category
                            //-     if categories
                            //-         each category in categories
                            //-             option(value=category._id)= category.name
                            
                            .form-group
                                label(for="tags") Tags
                                input.form-control(type="text" name="tags" id="tags" placeholder="Enter tags separated by commas")
                                small.form-text.text-muted Example: technology, news, featured
                            
                            div(
                                style-form
                                class="form-group"
                                upload-image
                            )
                                label.font-weight-bold(for="thumbnail") Product Image
                                input(
                                    type="file"
                                    id="thumbnail"
                                    name="thumbnail"
                                    class="form-control-file"
                                    accept="image/*"
                                    upload-image-input
                                )
                                button.btn.btn-danger.btn-sm.position-absolute(
                                    type="button" 
                                    class="btn btn-secondary delete-image"
                                    delete-image-preview
                                ) 
                                    i.fas.fa-times
                                    

                                img(
                                    src="",
                                    upload-image-preview
                                    class="image-preview"
                                )
                            .form-group
                                label(for="content") Content
                                textarea.form-control(name="content" id="content" rows="15" required)
                            
                            
                            
                            .form-group
                                label Status
                                .d-flex
                                    .custom-control.custom-radio.mr-4
                                        input.custom-control-input(type="radio" name="status" id="draft" value="draft" checked)
                                        label.custom-control-label(for="draft") Draft
                                    .custom-control.custom-radio.mr-4
                                        input.custom-control-input(type="radio" name="status" id="published" value="published")
                                        label.custom-control-label(for="published") Published
                                    .custom-control.custom-radio
                                        input.custom-control-input(type="radio" name="status" id="archived" value="archived")
                                        label.custom-control-label(for="archived") Archived
                            
                            .form-group.d-flex.justify-content-between
                                button.btn.btn-secondary(type="button" onclick="window.history.back()") 
                                    i.fas.fa-arrow-left.mr-2
                                    | Back
                                button.btn.btn-primary(type="submit")
                                    i.fas.fa-save.mr-2
                                    | Save Article
