extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  .container-fluid
    // Page Header
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 News & Blog Management
      a.btn.btn-primary.btn-sm.shadow-sm(href=`${prefixAdmin}/articles/create`)
        i.fas.fa-plus.fa-sm.text-white-50.mr-2
        | Add New Post

    // Alert Messages
    +alert-error(3000)
    +alert(3000)

    // Filters Card
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Filters
      .card-body
        form#filterForm
          .row
            .col-md-3
              .form-group
                label(for="status") Status
                select#status.form-control(name="status")
                  option(value="") All Status
                  option(value="draft") Draft
                  option(value="published") Published
                  option(value="scheduled") Scheduled
            
            .col-md-3
              .form-group
                label(for="category") Category
                select#category.form-control(name="category")
                  option(value="") All Categories
                  if categories
                    each category in categories
                      option(value=category.id)= category.title
                      
            .col-md-3
              .form-group
                label(for="type") Content Type
                select#type.form-control(name="type")
                  option(value="") All Types
                  option(value="news") News
                  option(value="blog") Blog Post
                  option(value="announcement") Announcement
            
            .col-md-3
              .form-group
                label(for="search") Search
                input#search.form-control(
                  type="text"
                  name="search"
                  placeholder="Search by title..."
                )
            
            .col-md-12.mt-3
              button.btn.btn-primary(type="submit")
                i.fas.fa-search.mr-2
                | Search
              button.btn.btn-secondary.ml-2(type="reset")
                i.fas.fa-undo.mr-2
                | Reset

    // Articles Table Card
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        h6.m-0.font-weight-bold.text-primary News & Blog Posts
        .dropdown.no-arrow
          button#dropdownMenuButton.btn.btn-link.btn-sm.dropdown-toggle(
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          )
            i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
          .dropdown-menu.dropdown-menu-right.shadow(
            aria-labelledby="dropdownMenuButton"
          )
            a.dropdown-item(href="#") 
              i.fas.fa-file-export.mr-2
              | Export
            a.dropdown-item(href="#")
              i.fas.fa-file-import.mr-2
              | Import
            .dropdown-divider
            a.dropdown-item(href="#")
              i.fas.fa-cog.mr-2
              | Settings
      
      .card-body
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th(style="width: 50px")
                  .custom-control.custom-checkbox
                    input#checkAll.custom-control-input(type="checkbox")
                    label.custom-control-label(for="checkAll")
                th Title
                th Type
                th Category
                th Author
                th Status
                th Published Date
                th.text-center Views
                th.text-center(style="width: 150px") Actions
            
            tbody
              if articles && articles.length > 0
                each item in articles
                  tr
                    td
                      .custom-control.custom-checkbox
                        input.custom-control-input(
                          type="checkbox"
                          id=`check${item.id}`
                          value=item.id
                        )
                        label.custom-control-label(for=`check${item.id}`)
                    td
                      .d-flex.align-items-center
                        if item.thumbnail
                          img.mr-2(
                            src=item.thumbnail
                            alt=item.title
                            style="height: 40px; width: 40px; object-fit: cover;"
                          )
                        div
                          a.font-weight-bold(href=`${prefixAdmin}/articles/edit/${item.id}`)
                            = item.title
                          if item.excerpt
                            .small.text-muted= item.excerpt.substring(0, 60) + '...'
                    td
                      span(class=`badge badge-${item.tag === 'news' ? 'info' : item.tag === 'blog' ? 'primary' : 'warning'}`)
                        = item.tag
                    
                    td= item.category ? item.category.title : 'Uncategorized'
                    td= item.author ? item.author : 'System'
                    td
                      span(class=`badge badge-${item.status === 'published' ? 'success' : item.status === 'draft' ? 'secondary' : 'warning'}`)
                        = item.status
                    td= item.createdAt ? moment(item.createdAt).format('DD/MM/YYYY HH:mm') : '-'
                    td.text-center= item.views || 0
                    td.text-center
                      a.btn.btn-sm.btn-info.mr-1(
                        href=`/news/${item.slug}`
                        target="_blank"
                        title="View"
                      )
                        i.fas.fa-eye
                      a.btn.btn-sm.btn-primary.mr-1(
                        href=`${prefixAdmin}/articles/edit/${item.id}`
                        title="Edit"
                      )
                        i.fas.fa-edit
                      button.btn.btn-sm.btn-danger.btn-delete(
                        data-id=item.id
                        title="Delete"
                      )
                        i.fas.fa-trash
              else
                tr
                  td.text-center(colspan="9") No posts found