mixin formChangeMultiStatus(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .col-md-6.col-sm-12
                .form-group
                    select(name="type" class="form-control")
                        option(selected disable) Chose option
                        option(value="active") Active
                        option(value="inactive") Inactive
                        option(value="delete-all") Delete
                        option(value="change-position") Change Position

            .col-md-6.col-sm-12
                .form-group 
                    input(
                        type="text"
                        name="ids"
                        value=""
                        class="form-control d-none"
                    )

            button(type="submit" class="btn btn-primary") Apply  