extends ../../layout/chat.pug 

include ../../mixins/box-head.pug
block main 
    .container.my-3
        .row
            .col-12
                +box-head("Chat")
        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats
                            div(class=(chat.user_id==user.id?"inner-outgoing":"inner-incoming"))
                                if(chat.user_id!=user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content
                                    | #{chat.content}
                        .inner-list-typing 
                            .box-typing 
                                div(class="inner-name") Le van a
                                div(class="inner-dots")
                                    span 
                                    span 
                                    span 
                            .box-typing 
                                div(class="inner-name") le van b
                                div(class="inner-dots")
                                    span 
                                    span 
                                    span 
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(type="text" placeholder="Type your message..." 
                                class="inner-input"
                                name="content"
                            )
                            span(class="button-icon btn btn-light mx-2") 
                                <i class="fa-regular fa-face-smile"></i>

                            button(class="inner-btn")  
                                i.fas.fa-paper-plane  

    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")
        