.sider
    .inner-menu
        ul 
            li  
                a(href=`${prefixAdmin}/dashboard`) Dashboard 
            li      
                a(href=`${prefixAdmin}/products`) Products
            li      
                a(href=`${prefixAdmin}/products-category`) Products Category
            li      
                a(href=`${prefixAdmin}/restock`) Restock
            li      
                a(href=`${prefixAdmin}/roles`) Permissions
            li      
                a(href=`${prefixAdmin}/roles/permissions`) Authorization
            li      
                a(href=`${prefixAdmin}/accounts`) Accounts
